body {background-color: #F9F4F1 !important;}

@media only screen and (max-width: 800px) {
  #header {
    font-size: 36px !important;
    line-height: 40px !important;
    width: 303px !important;
  }
  #subtitle {
    width: 303px !important;
    padding-bottom: 24px !important;
  }
  #small-caps, #mock {
    opacity: 0;
  }
  #info {
    padding-top: 48px !important;
  }
  #hover {
    margin-top: 24px !important;
  }
}

#info {
  padding-top: 110px;
}


#clip {
width: 51px;
height: 45px;
left: 181px;
top: 68px;
font-family: Work Sans;
font-style: normal;
font-weight: normal;
line-height: 45px;
font-size: 28px;
letter-spacing: -0.02em;
color: #222222;
}

#header {
width: 537px;
height: 112px;
left: 183px;
top: 224px;
font-family: 'Playfair Display';
font-style: normal;
font-weight: 500;
line-height: 56px;
font-size: 48px;
color: #183635;
}

#subtitle {
width: 507px;
height: 75px;
left: 185px;
top: 354px;
font-family: Work Sans;
font-style: normal;
font-weight: 400;
line-height: 24px;
font-size: 20px;
letter-spacing: -0.02em;
color: #6B6B6B;
margin-top: 24px;
}

/* get access button
text */
#get-access {
font-family: Work Sans;
font-style: normal;
font-weight: normal;
line-height: 24px;
font-size: 15px;
text-align: center;
letter-spacing: -0.02em;
color: #183635;
}
/* hover color */
#hover {
  background: #D99F98;
}
#hover:hover {
  background: #99706B;
}

.button {
  width: 129px;
  height: 45px;
  position: absolute;
  right: 0px;
  top: 9px;
  z-index: 1000;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  font-family: Work Sans;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
  font-size: 14px;
  letter-spacing: -0.02em;  
  color: #183635;
  padding: 12px 24px 12px 24px;
}

#small-caps {
  color: #c4c4c4;
  letter-spacing: 0.15em; 
}

